@model ModalParams

<div class="modal fade" id="@Model.Id">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                @Model.Description
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button id="@(Model.Id)-btn" type="button" class="btn btn-primary">Tak</button>
            </div>

        </div>
    </div>
</div>