@using ProjectManager.Application.Users.Queries.GetClientDashboard


@model GetUserDashboardVm

@{
    ViewData["Title"] = "Pulpit";
}

<div class="col-12 col-xl-6">

    <div class="card card-primary card-border-top">

        <div class="card-body">



        </div>

    </div>

</div>


