@using ProjectManager.Application.Users.Queries.GetClientDashboard


@model GetUserDashboardVm

@{
    ViewData["Title"] = "Pulpit";
}
<div class="card shadow-sm mb-4 border-0">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center mt-3">
        <h6 class="mb-0 d-flex align-items-center">
            <i class="fas fa-envelope me-2"></i>
            @Model.Email
        </h6>

        <div class="d-flex gap-2">
            <button class="btn btn-light" id="btnUserTodos"
                    type="button"
                    onclick="location.href='@Url.Action("UserTodos", "Todo")'">
                <i class="fas fa-list-check me-1"></i> Zadania
            </button>

            <button class="btn btn-light" id="btnUserRents"
                    type="button"
                    onclick="location.href='@Url.Action("UserRents", "Tool")'">
                <i class="fa-solid fa-gauge"></i> Wypożyczenia
            </button>
        </div>
    </div>
</div>


@* <div id="userContainer">
    
</div> *@


