
<div class="modal fade" id="modal-choose-file">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Wybierz plik lub wyślij nowy plik na serwer</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row" id="modal-files">
                </div>
            </div>

            <div class="modal-footer">
                <button id="modal-choose-file-btn" type="button" class="btn btn-primary"><i class="fas fa-solid fa-circle-plus"></i>Wyślij plik na serwer</button>
            </div>

        </div>
    </div>
</div>