@using ProjectManager.Application.Projects.Commands.ClosePosition
@using ProjectManager.Application.Projects.Queries.GetProject

@model GetProjectVm

<div class="modal fade" id="modal-position">
    <div class="modal-dialog">
        <div class="modal-content">

            <form id="position-form">

                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    @Html.Hidden("Id")

                    <div class="form-group" id="divEndDate">
                        @Html.Label("PerformedData", "Data zamknięcia", new { @class="form-check-label font-weight-bold" })

                        <div class="input-group date" id="dtpEnd" data-target-input="nearest">
                            <input name="End" type="text" class="form-control datetimepicker-input" data-target="#dtpEnd" />
                            <div class="input-group-append" data-target="#dtpEnd" data-toggle="datetimepicker">
                                <div class="input-group-text calendar"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("PerformedData", "Data zamknięcia", new { @class="form-check-label font-weight-bold" })
                        @Html.TextArea("Comment", "Wpisz komentarz", new { @class = "form-control", placeholder="Wprowadź komentarz"})
                    </div>
                </div> 

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button id="modal-confirm" type="submit" class="btn btn-primary">Zapisz</button>
                </div>

            </form>

        </div>
    </div>
</div>