@using System.Globalization
@using ProjectManager.Application.Dictionaries
@using ProjectManager.Application.Todos.Queries.GetProjectTodos

@model ProjectTodosVm

@{
    ViewData["Title"] = "Lista zadań projektu";
    var roles = User.IsInRole(RolesDict.Administrator) || User.IsInRole(RolesDict.Kierownik);
    var onlyActive = Context.Request.Query["onlyActive"] == "true";
}


<!-- Modale -->
<partial name="Modals/_AddPostModal" />
<partial name="Modals/_DeleteTodoModal" />
<partial name="Modals/_FinishTodoModal" />

<input type="hidden" id="ProjectId" value="@Model.Project.Id" />

<div class="card-header bg-primary text-white d-flex justify-content-between align-items-center mt-3">
    <h4 class="mb-0 d-flex align-items-center">
        <a class="edit-link text-white" href="/Project/Project?id=@Model.Project.Id">
            <i class="fas fa-folder-open me-2"></i>
            @Model.Project.Name
        </a>
    </h4>

    <div class="d-flex align-items-center gap-3">
        <button class="btn btn-light" id="btnAddTodo"
                type="button"
                onclick="location.href='@Url.Action("AddTodo", "Todo", new { id = Model.Project.Id })'">
            <i class="fas fa-plus"></i> Dodaj zadanie
        </button>
    </div>
</div>



<div id="todosContainer">
    <partial name="Partials/_TodosList"
             model="Model.Todos"/>
</div>

@section Scripts {
    <script>

    </script>
    <script src="~/js/todo.js"></script>
}
