@using ProjectManager.Application.Common.Interfaces
@using System.Globalization
@using ProjectManager.Application.Todos.Queries.GetProjectTodos
@inject ICurrentUserService currentUserService

@model List<TodoDto>

@{
    ViewData["Title"] = "Lista zadań";
}

<!-- Modale -->
<partial name="Modals/_AddPostModal" />
<partial name="Modals/_DeleteTodoModal" />


<div class="card shadow-sm mb-4 border-0">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center mt-3">
        <h4 class="mb-0 d-flex align-items-center">
            <i class="fas fa-solid fa-list-check me-2"></i>
            Moje zadania
        </h4>
    </div>
</div>

<div id="todosContainer">
    <partial name="Partials/_TodosList" model="Model" />
</div>

@section Scripts {
    <script>

    </script>
    <script src="~/js/todo.js"></script>
}
