@using ProjectManager.Application.Common.Interfaces
@using System.Globalization
@using ProjectManager.Application.Common.Models
@using ProjectManager.Application.Todos.Queries.GetProjectTodos
@inject ICurrentUserService currentUserService

@model PaginatedList<TodoDto>

@{
    ViewData["Title"] = "Lista zadań";
    var userId= ViewBag.UserId;
}

<!-- Modale -->
<partial name="Modals/_AddPostModal" />
<partial name="Modals/_DeleteTodoModal" />
<partial name="Modals/_FinishTodoModal" />

<div class="card shadow-sm mb-4 border-0">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center mt-3">
        <h4 class="mb-0 d-flex align-items-center">
            <i class="fas fa-solid fa-list-check me-2"></i>
            Moje zadania
        </h4>
        
        <div class="d-flex align-items-center gap-3">
            <button class="btn btn-outline-light"
                    type="button"
                    onclick="location.href='@Url.Action("Dashboard", "User")'">
                <i class="fa-solid fa-id-card"></i> Mój panel
            </button>
        </div>
    </div>
</div>

<div id="todosContainer">
    <partial name="Partials/_UserTodosList" model="Model" />
</div>

@section Scripts {
    <script>

    </script>
    <script src="~/js/todo.js"></script>
}
