@using System.Globalization
@using ProjectManager.Application.Dictionaries
@using ProjectManager.Application.Tools.Queries.GetUserRents
@model List<UserRentsDto>

@{
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
    ViewData["Title"] = "Rejestr wypożyczeń";
}

@section Styles {
    <partial name="Styles/_DataTablesStyles" />
}

<!-- Modale -->
<partial name="Modals/_ReturnToolModal" />


<div class="card-header bg-primary text-white d-flex justify-content-between align-items-center mt-3">
    <h4 class="mb-0 d-flex align-items-center edit-link">
        <i class="fa-solid fa-arrows-left-right" style="margin-right:5px"></i>
        Rejestr wypożyczeń
    </h4>
    <button class="btn btn-outline-light"
            type="button"
            onclick="location.href='@Url.Action("Dashboard", "User")'">
        <i class="fa-solid fa-id-card"></i> Mój panel
    </button>
</div>

<div id="userContainer">
    <partial name="Partials/_UserRentsList"
             model="Model"/>
</div>

@section Scripts {
    <partial name="Scripts/_DataTablesScripts" />
    <script>
        $(document).ready(function () {
            $('#userTable').DataTable({
                paging: true,
                searching: true,
                info: false,
                ordering: false,
                language: {
                    url: `/lib/datatables/lang/${'@locale'}.json`
                }
            });
        });
        
    </script>
    <script src="~/js/tool.js"></script>
}
