@using System.Globalization
@using ProjectManager.Application.Clients.Queries.GetClientBasics

@model IEnumerable<ClientBasicsDto>

@{
    ViewData["Title"] = "Klienci";
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
    <partial name="Styles/_DataTablesStyles" />
}

<partial name="Modals/_ModalConfirm"
         model="@(new ModalParams
         {
             Id = "modal-confirm-delete",
             Title = "Potwierdź proszę",
             Description = "Czy na pewno chcesz usunąć wybranego klienta?"
         })" />

<div class="card card-primary card-border-top">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title mb-0">
            <i class="fas fa-solid fa-user-tie"></i>Lista klientów
        </h3>

        <a href="/Client/AddClient" class="btn btn-primary">
            <i class="fas fa-circle-plus me-1"></i>Dodaj klienta
        </a>
    </div>

    <div class="card-body">

        <table id="clients" class="table table-striped table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th>Nazwa klienta</th>
                    <th>Osoba do kontaktu</th>
                    <th class="text-center desktop">Akcje</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>
                            <a class="edit-link fw-semibold" href="/Client/EditClient?id=@client.Id">
                                @client.Name
                            </a>
                        </td>

                        <td>@client.ContactPerson</td>

                        <td class="text-end">

                            <a href="/Client/EditClient?id=@client.Id"
                               class="btn btn-success btn-sm me-1">
                                <i class="fas fa-pen-to-square me-1"></i>Edytuj
                            </a>

                            <button class="btn btn-danger btn-sm"
                                    onclick="openDeleteModal('@client.Id', this)">
                                <i class="fas fa-trash-can me-1"></i>Usuń
                            </button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>

@section Scripts {
    <partial name="Scripts/_DataTablesScripts" />

    <script>

        let dtClients;
        let selectedRow = null;
        let selectedClientId = null;

        $(document).ready(function () {

            dtClients = $('#clients').DataTable({
                paging: true,
                ordering: true,
                info: true,
                responsive: true,
                autoWidth: false,
                lengthChange: true,
                language: {
                    url: `/lib/datatables/lang/${'@locale'}.json`
                },
                order: [[0, "asc"]],
                columnDefs: [
                    { orderable: false, targets: 2 }
                ]
            });

        });

        function openDeleteModal(id, btn) {
            selectedRow = btn.closest("tr");
            selectedClientId = id;
            $('#modal-confirm-delete').modal('show');
        }

        $('#modal-confirm-delete-btn').on('click', function () {

            $('#modal-confirm-delete').modal('hide');

            $.ajax({
                type: "POST",
                url: "/Client/DeleteClient",
                data: { id: selectedClientId },
                dataType: "json",

                success: function (data) {
                    if (data.success) {
                        dtClients.row(selectedRow).remove().draw();
                        toastr.success('Klienci zostali zaktualizowani.');
                    } else {
                        toastr.error('Błąd. ' + data.message);
                    }
                },

                error: function () {
                    toastr.error('Błąd. Nie udało się usunąć wybranego klienta. Spróbuj ponownie lub skontaktuj się z administratorem.');
                }
            });

        });

    </script>
}
