@using ProjectManager.Application.Projects.Queries.GetProject
@model GetProjectVm

<div class="accordion" id="scopesAccordion">
    @foreach (var scope in Model.Project.Scopes)
    {
        <partial name="_ScopeItem" model="scope" />
    }
</div>



