@using ProjectManager.Application.Roles.Commands.AddRole

@model AddRoleCommand

@{
    ViewData["Title"] = "Dodawanie nowej roli";
}

<div class="card card-primary card-border-top">

    @using (Html.BeginForm("AddRole", "Role"))
    {
        @Html.AntiForgeryToken()

        <div class="card-body">

             <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class="form-control", placeholder="Wprowadź nazwę roli" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>

        </div>

        <div class="card-footer">

            <button type="submit" class="btn btn-primary btn-lg">
                <i class="fas fa-solid fa-circle-check"></i>Zapisz
            </button>

        </div>
    }

</div>


@section Scripts {
<partial name="Scripts/_ValidationScriptsPartial" />


}