@model WorkScopeDto

<h6 class="text-secondary mb-2">
    <i class="bi bi-tag me-1"></i> Oferty
</h6>

<div class="d-flex justify-content-end mb-2">
    <button class="btn btn-primary btn-sm mb-2 open-add-offer"
            data-scope-id="@Model.Id"
            onclick="location.href='@Url.Action("AddOffer", "Settlement", new { id = Model.Id})'">
        <i class="fas fa-circle-plus"></i> Dodaj ofertę
    </button>
</div>

<table class="table table-sm align-middle">
    <thead>
        <tr>
            <th>Opis</th>
            <th>Ilość</th>
            <th>Jednostka</th>
            <th>Netto</th>
            <th>Razem</th>
            <th>Podwykonawca</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model.Offers.OrderBy(o => o.Order))
        {
            @await Html.PartialAsync("_WorkScopeOfferRow", offer)
        }
    </tbody>
</table>
