@model WorkScopeDto

<div class="accordion-item mb-2" id="scope-@Model.Id">
    <h2 class="accordion-header" id="heading-@Model.Id">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-@Model.Id">

            <div class="d-flex flex-column">
                <h6>
                    <strong>
                        @Model.Description
                    </strong>
                </h6>
                <div>
                    <span class="badge bg-primary">
                        Razem: @Model.Total.ToString("N2") zł
                    </span>
                </div>
            </div>
        </button>
    </h2>

    <div id="collapse-@Model.Id"
         class="accordion-collapse collapse"
         aria-labelledby="heading-@Model.Id"
         data-bs-parent="#workScopeAccordion">

        <div class="accordion-body">
            @await Html.PartialAsync("_WorkScopeOffers", Model)
        </div>
    </div>
</div>
