
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ENERIA Dział Realizacji</title>
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
   

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body style="background-color: rgb(244, 246, 249);">

    <div class="container-fluid">
        <div class="row flex-nowrap">

            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 collapse">

            <ul class="client-panel nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start mb-4" id="menu">

                <li class="nav-item">
                    <a href="/" class="nav-link align-middle px-0 text-white my-3">
                        <i class="fas fa-solid fa-house"></i><span class="d-none d-sm-inline">Strona Główna</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link align-middle px-0 text-white">
                        <i class="fas fa-solid fa-earth-americas"></i><span class="d-none d-sm-inline">Pulpit</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link align-middle px-0 text-white">
                        <i class="fas fa-solid fa-user"></i><span class="d-none d-sm-inline">Moje dane</span>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link align-middle px-0 text-white">
                        <i class="fas fa-regular fa-rectangle-list"></i><span class="d-none d-sm-inline">Zadania</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link align-middle px-0 text-white">
                        <i class="fas fa-solid fa-book-open"></i><span class="d-none d-sm-inline">Projekty</span>
                    </a>
                </li>

                <li class="nav-item  mb-4">
                    <a class="nav-link align-middle px-0 text-white">
                    <i class="fas fa-solid fa-brush"></i><span class="d-none d-sm-inline">Podwykonawcy</span>
                    </a>
                </li>

            </ul>               
           
            </div>
            </div>

            <div class="col px-0">

                <div class="px-4 py-1 border-bottom bg-white">

                    <form class="form-inline d-sm-inline-block">
                        <button type="submit" class="nav-link btn btn-link px-2 text-secondary">Wyloguj</button>
                    </form>
                </div>

                <div class="py-2">
                    <div class="container-fluid">
                        <div class="row">
                            <h2>Tytuł</h2>
                            <div class="card card-primary card-border-top">

                                <div class="card-body">

                                    <a class="btn btn-primary mb-3" role="button">
                                        <i class="fas fa-solid fa-circle-plus"></i>Dodaj pracownika
                                    </a>

                                    <div class="form-group mt-0">
                                        <div class="form-check form-check-inline form-switch mt-0">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="form-check-input" id="isActiveUserCb" onclick="refreshTable();" />
                                                <label class="form-check-label custom-control-label" for="isActiveUserCb">
                                                    Wszyscy
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <table id="employees" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nazwa pracownika</th>
                                                <th class="desktop">Email</th>
                                                <th class="desktop">Numer telefonu</th>
                                                <th class="desktop"></th>
                                                <th class="desktop"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                    <td>
                                                        <a class="edit-link" href='/Employee/EditEmployee?employeeId=@employee.Id'>@employee.Name</a>
                                                    </td>
                                                    <td>
                                                        @employee.Email
                                                    </td>
                                                    <td>
                                                        @employee.PhoneNumber
                                                    </td>
                                                    <td>
                                                        <span>1</span>
                                                    </td>
                                                    <td>

                                                        <p>Nie pracuje</p>
                                                    </td>
                                                </tr>

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="pb-1">
                    <div class="container-fluid">
                        <div class="row" id="main-body">
                            <input type="hidden" id="signalRconnectionId" />
                           
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <footer class="border-top footer bg-white">
        <div class="container text-dark my-2">
            <span>Polityka Prywatności</span>
        </div>
    </footer>


</body>
</html>
