
@using ProjectManager.Application.Devices.Queries.GetDevice
@using ProjectManager.Application.Devices.Queries.GetSelectParams
@model DeviceParamNamesDto

<table id="params" class="table table-striped table-bordered align-middle">
    <thead class="table-light">
        <tr>
            <th style="width: 120px;">Lp</th>
            <th>Nazwa</th>
            <th class="text-center" style="width: 180px;">Wybierz</th>
        </tr>
    </thead>

    <tbody>
        @{
            int index = 1;
        }
        @foreach (var header in Model.ParamNames)
        {
            <tr>
                <td class="fw-semibold">@index</td>
                <td class="fw-semibold">@header.Name</td>
                <td class="text-center align-middle">
                    <input type="checkbox"
                           class="form-check-input param-checkbox"
                           name="paramnames"
                           value="@header.Name" />

                </td>
            </tr>
            index++;
        }
    </tbody>
</table>


